*.sdf
*.suo
*.user
*.ilk
*.pdb
*.ttf

/mk/Demo/ClientDemo/ipch
/mk/Demo/ClientDemo/ClientDemo/Debug

/mk/Demo/EngineDemo/ipch
/mk/Demo/EngineDemo/EngineDemo/Debug

/mk/Demo/LuaScriptDemo/ipch
/mk/Demo/LuaScriptDemo/LuaScriptDemo/Debug

/mk/Demo/ServerDemo/ipch
/mk/Demo/ServerDemo/ServerDemo/Debug

/mk/LFEngine/LFEngine/Debug

/mk/LFServerLib/ipch
/mk/LFServerLib/LFServerLib/Debug

/mk/LFGui/ipch
/mk/LFGui/LFGui/Debug

/mk/ScriptEngine/ipch
/mk/ScriptEngine/ScriptEngine/Debug

/bin/Logs
/bin/ClientDemo_d.exe
/bin/EngineDemo_d.exe
/bin/LFEngine_d.lib
/bin/LFServerLib_d.lib
/bin/LoginServer_d.exe
/bin/LuaScriptDemo_d.exe
/bin/ScriptEngine_d.lib
/bin/LFGui_d.lib
